<!DOCTYPE html>
<html lang="en" xmlns:backgroud-color="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:height="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head th:replace="home-main :: header('checkout')">
</head>
<body>
  <div style="text-align: center; background-color:pink; width:600px; height:300px; margin:auto; margin-top: 150px; padding-top: 50px;border-radius: 20px;">
    <p>Đơn hàng của bạn đã được xác nhận!</p><br>
    <p>Vui lòng kiểm tra email</p><br>
    <p>Xin cám ơn!</p>
  </div>
</body>
</html>