<!DOCTYPE html>
<html lang="en">

</head>

<body>
<a href="/getall" style="text-decoration: none">HOME MENU</a>
<form th:action="@{/add}" th:object="${person}" method="post" style="text-align: center">
    <h2>CREATED NEW EMPLOYEE FORM</h2><br></br>
    <label>Full Name: </label>
    <input type="text" name="name" placeholder="input your name" th:field="*{name}"><br></br>

    <label>Job: </label>
    <select th:field="*{job}">
        <option value="developer">Developer</option>
        <option value="teacher">Teacher</option>
        <option value="doctor">Doctor</option>
        <option value="banker">Banker</option>
    </select> <br></br>


    <input type="radio" th:field="*{gender}" value="male">
    <label>male</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="radio" th:field="*{gender}" value="female">
    <label>female</label>
    <br></br>

    <label>Birthday: </label>
    <input type="date" name="birthday" th:field="*{birthday}"> <br></br>

    <input type="submit" value="Created">
</form>
</body>
</html>