<!DOCTYPE html>
<html lang="en">
</head>
<body>
<a href="/" style="text-decoration: none">HOME MENU</a>
<form method="post" th:action="@{/edit}" th:object="${personCreated}" style="text-align:center;">
    <h2>FORM EDIT EMPLOYEE</h2><br></br>
    <label>Fullname: </label>
    <input type="text" name="salaryLevel" th:field="*{name}"></br></br>

    <label>Job: </label>
    <select th:field="*{job}">
        <option value="developer">Developer</option>
        <option value="teacher">Teacher</option>
        <option value="doctor">Doctor</option>
        <option value="banker">Banker</option>
    </select> <br></br>


    <input type="radio"  th:field="*{gender}" value="male">
    <label >male</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="radio"  th:field="*{gender}" value="female">
    <label >female</label>
    </br></br>



    <label>Birthday: </label>
    <input type="date" name="overtimeSalary" th:field="*{birthday}"></br></br>
    <input type="hidden" name="id" th:field="*{id}">

    <input type="submit" value="UPDATE">
</form>
</body>
</html>