<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{main-layout :: main-fragment(~{:: #content}) }">
<body>
<div id="content" style="margin-left: 50px;">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <h2 th:text="#{editemployee}">EDIT EMPLOYEE</h2>
            <form action="#" th:action="@{/person/edit}" method="post" name="person" enctype="multipart/form-data"
                  th:object="${person}">

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label" th:text="#{name}">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="name" th:field="*{name}" autocomplete="off"/>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </div>

                <div class="form-group row mt-3">
                    <label for="" class="col-sm-2 col-form-label" th:text="#{birthday}">Birthday</label>
                    <div class="col-sm-4" style="font-size: 25px">
                        <input type="date" name="birthday" th:field="*{birthday}">
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="" class="col-sm-2 col-form-label" th:text="#{gender}">Gender</label>
                    <div class="col-sm-4" style="font-size: 25px">
                        <input type="radio" th:field="*{gender}" value="male">
                        <label th:text="#{male}">male</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" th:field="*{gender}" value="female">
                        <label th:text="#{female}">female</label>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender</div>
                </div>

                <div class="form-group row mt-3">
                    <label for="job" class="col-sm-2 col-form-label" th:text="#{job}">Job</label>
                    <div class="col-sm-4" style="font-size: 25px">
                        <select name="job" id="job" th:field="*{job}">
                            <option th:each="jobname :${jobs}" th:value="${jobname.name}" th:text="${jobname.name}" ></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <label for="" class="col-sm-2 col-form-label" th:text="#{selectphotos}">Select a photo</label>
                    <div class="col-sm-4">
                        <input type="file" name="photo" class="form-control" th:field="*{photo}"/>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">Upload Error
                    </div>
                </div>
                <input type="hidden" th:field="*{id}">

                <button class="btn btn-primary mt-3" type="submit" name="update" th:text="#{update}">UPDATE</button>
                <a th:href="@{/person/delete/{id} (id=${idPerson})}" class="btn btn-primary mt-3" th:text="#{delete}">
                    DELETE
                </a>
            </form>

        </div>
    </div>
</div>
</body>

</html>
