<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1"  style="margin: 0 auto;" th:object="${phimList}">
        <h3 style="text-align: center; color: rgb(42, 54, 218);">Danh Sách Phim Chiếu Rạp Hay</h3>
        <tr>
            <td>stt</td>
            <td>Tên phim</td>
            <td>Đạo Diễn</td>
            <td>Mô tả</td>
            <td>Năm sản xuất</td>
        </tr>
        <tr th:each="phim, iter: ${phimList}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${phim.title}"></td>
            <td th:text="${phim.director}"></td>
            <td th:text="${phim.description}"></td>
            <td th:text="${phim.year}"></td>
        </tr>
    </table>
</body>
</html>
