<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{main-layout :: main-fragment(~{:: #content}) }">>
<body >
<div id ="content">

    <form style="text-align: center; padding-top: 50px;" th:object="${job}" th:action="@{/job/add}" method="post">
        <input type="text" placeholder="them job moi" name="name" th:filed="*{name}">
        <div class="text-danger" th:if="${error}" th:text="${error}"></div>
        <input type="submit" value="ADD">
    </form><br>
    <br>
    <h1 style="text-align: center">LIST JOB</h1>
    <br>
    <ul th:each="job: ${jobs}" style="text-align: center; list-style: none;">
        <li >
            <a  style="font-size: 30px;color:blueviolet; text-decoration: none; " th:text="${job.name}" th:href="@{/job/edit/{id} (id=${job.id})}"></a>
        </li>
    </ul>
</div>
</body>

</html>